/* HERO */
.hero {
    position: relative;
    margin-bottom: 447px;
}
.hero_offer {
    margin-top: 50px;
    margin-bottom: 124px;
}
.hero_offer_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 106%;
    margin-bottom: 20px;
}
.hero_offer_text {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 343px;
}
.hero_image {
    position: absolute;
    height: 259px;
    width: auto;
    right: 0;
    translate: 200px;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {
    /* HERO */
    .hero {
        margin-bottom: 40px;
    }
    .hero_offer {
        margin-bottom: 124px;
    }
    .hero_image {
        translate: 350px -400px;
    } 
}

@media screen and (min-width: 700px) {
    .hero_image {
        translate: 250px -400px;
    }
}

/*576px - 768px*/
@media screen and (min-width: 768px) {
                      
}
/*768px - 992px*/
@media screen and (min-width: 992px) {
    .hero_image {
        height: 320px;
    }
                        
}
/*992px - 1300px*/
@media screen and (min-width: 1300px) {
    /* HERO */
    .hero_offer {
        margin-bottom: 192px;
    }
    .hero_offer_title {
        font-weight: 700;
        font-size: 96px;
        line-height: 106%;
        margin-bottom: 20px;
    }
    .hero_offer_text {
        font-size: 20px;
        margin-bottom: 40px;
        max-width: 534px;
        line-height: 120%;
    }
    .hero_image {
        height: 529px;
        translate: 566px -594px;
    }                    
}