/* HOWWORKS */
.howWorks {
    padding: 140px 0;
    position: relative;
  }
  
  .howWorks_movingText {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 6.3vh; /* Высота строки */
  }
  
  .howWorks_movingText:not(:last-of-type) {
    margin-bottom: 93px;
  }
  
  .scrolling_text {
    display: flex;
    gap: 20px;
    white-space: nowrap;
  }
  
  .howWorks_movingText_text {
    font-size: 6.3vh;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 20px;
  }
  
  .border {
    color: #181818;
    text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
  }
  
  .green {
    color: #2FDBBC;
  }
  
  .purple {
    color: #A64CED;
  }
  
  .orange {
    color: #FFAA4C;
  }
  
  .howWorks_image {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 228px;
    height: auto;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем центр изображения */
  }

  /* ANIMATION */

  .marquee1 {
    animation: marquee1 20s infinite linear;
    animation-delay: -20s;
  }
  .marquee2 {
    animation: marquee2 20s infinite linear;
    animation-delay: -10s;
  }

  .reverse {
    animation-direction: reverse;
  }

  @keyframes marquee1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }


/* RESPONSIVE */

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 700px) {

}

/*576px - 768px*/
@media screen and (min-width: 768px) {
                     
}
/*768px - 992px*/
@media screen and (min-width: 992px) {
  .howWorks_movingText {
    height: 9vh; /* Высота строки */
  }
  .howWorks_movingText_text {
    font-size: 9vh;
  }
                        
}
/*992px - 1300px*/
@media screen and (min-width: 1300px) {
    /* HOW WORKS */
    .howWorks_image {
      width: 27vw;
    }
    .howWorks_movingText {
        height: 16vh;
    }
    .howWorks_movingText_text {
        font-size: 16vh;
    }                
}