/***********ОБНУЛЕНИЕ************/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*************************/


/* Подключение шрифта */
@font-face {
  font-family: 'Outfit';
  src: url('../src/assets/fonts/Outfit.woff2') format('woff2');
  font-weight: 100 900; /* Диапазон весов от 100 до 900 */
  font-style: normal; /* Для обычного начертания */
}

main {
  overflow: hidden;
}
body {
  background: #181818;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: #fff;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.button {
  position: relative; /* Establishes a positioning context for the pseudo-element */
  display: inline-block; /* Allows the span to respect width and height */
  padding: 16px 30px; /* Adds padding around the text */
  font-size: 20px; /* Sets the font size */
  color: #fff; /* Sets the text color */
  background-color: #954ced; /* Sets the initial background color */
  border: 2px solid #954ced; /* Removes the default border */
  border-radius: 16px; /* Rounds the corners */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: background-color 0.2s ease, transform 0.2s ease, border-radius 0.2s ease; /* Adds transitions for smooth animations */
  overflow: hidden; /* Ensures any overflowing content is hidden */
  z-index: 1; /* Sets the stacking order */
}

.button:after {
  content: ""; /* Generates the pseudo-element */
  position: absolute; /* Positions the pseudo-element absolutely within the parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818; /* Sets the background color for the animation */
  border-radius: 16px; /* Creates a large border radius for the circular effect */
  transform: translate(-100%) rotate(5deg); /* Initially positions the background off-screen */
  transform-origin: top left; /* Sets the transform origin */
  transition: transform 0.2s ease; /* Adds a transition for the transform property */
  z-index: -1; /* Places the pseudo-element behind the text */
}

.button:hover:after {
  transform: translate(0) rotate(0); /* Moves the background into view on hover */
}

.button:hover {
  transform: scale(1.05);
  background-position: 0;
}

.button:disabled {
  border-color: #B9B9B9;
  background: #B9B9B9;
}
.button:active {
  color: #FFAA4C;
  border-color: #FFAA4C;
}

.button:focus {
  background: #BA8BF3;
  border-color: #BA8BF3;
}

@media screen and (min-width: 576px) {
  .button {
      max-width: 190px;
  }
}